@import url('https://fonts.googleapis.com/css2?family=Montserrat');

:root {
	--primary-color: #112d32;
	--secondary-color: #30d5c8;
	--color-on-blue: #f0ead6;

	--hover-width: 75%;
	--other-width: 25%;
	--speed: 1000ms;
}

* {
	box-sizing: border-box;
	margin: 0;
}

html {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

/* Google Icons CSS */
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

/* Blurr Loading CSS */
.bg {
	position: absolute;
	background: var(--primary-color);
	width: 100vw;
	height: 100vh;
	filter: blur(0px);
	z-index: 3;
}

.loading-text {
	position: relative;
	text-align: center;
	font-size: 50px;
	color: #fff;
	z-index: 3;
	top: 50%;
	transform: translateY(-50%);
}

/* Typing Effect */
.wrapper {
	height: 100vh;
	/*This part is important for centering*/
	display: flex;
	align-items: center;
	justify-content: center;
}

.typing-demo {
	width: 22ch;
	animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
	font-size: 2em;
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

/* Additional CSS */
.circle-container {
	position: fixed;
	background-color: var(--primary-color);
	z-index: 1;
	height: 50px;
	width: 50px;
	border-radius: 5%;
	margin-left: 10px;
	margin-top: 1rem;
}

.circle button {
	cursor: pointer;
	height: 50px;
	width: 50px;
	background-color: transparent;
	color: var(--color-on-blue);
	border: none;
	position: absolute;
}

/* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: var(--primary-color); /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 100px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* All navigation bar contents  */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: var(--color-on-blue);
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	opacity: 0.5;
}

/* Position and style the close button (top right corner) */

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
	transition: margin-left 0.5s;
	margin: 10rem 0 5% 0;
	display: flex;
	justify-content: space-evenly;
	width: calc(100%-250px);
	padding-bottom: 3rem;
}

.sidenav {
	width: 0;
}

.container.show-nav .main,
.container.show-nav .faq-container {
	margin-left: 250px;
}

.container.show-nav .sidenav {
	width: 250px;
}

#close {
	transform: translateX(-500px);
}

.container.show-nav #open {
	transform: translateX(-500px);
}

.container.show-nav #close {
	transform: translateX(0);
	transform: translateY(1rem);
}

.container.show-nav .circle {
	position: absolute;
	top: 0;
	font-size: 36px;
	margin-left: 180px;
	transition: 0.6s;
}

.container.show-nav .footer-brand {
	position: relative;
}

.container.show-nav .footer-brand h1 {
	position: absolute;
	bottom: 0;
	left: 0;
	top: auto;
}

.brand-name {
	padding-right: 40px;
	position: fixed;
	top: 1rem;
	left: auto;
	right: 5%;
	transition: ease-in 0.3s;
	z-index: 2;
}

.brand-name a {
	color: var(--primary-color);
}

.brand-name a,
.nav-brand a {
	text-decoration: none;
	font-size: 32px;
	font-weight: bold;
}

/* Footer CSS */

.footer {
	display: flex;
	background-color: var(--primary-color);
	color: var(--color-on-blue);
	justify-content: space-between;
	width: 100vw;
	min-width: 100%;
	margin-top: auto;
}

.footer-brand,
.footer-middle,
.footer-last {
	width: 30%;
	margin: 1.5%;
	text-align: left;
}

/* Main content CSS */

.main .page-intro {
	width: 30%;
	font-size: xx-large;
	text-align: right;
	padding-right: 2%;
	align-self: center;
}
.main .page-content {
	width: 35%;
	align-self: center;
}

.page-content p {
	font-size: large;
	align-self: center;
	text-align: justify;
}

.page-intro h1 {
	color: var(--primary-color);
}

.page-content .faq-des {
	line-height: 1.6rem;
	font-size: 1.5rem;
}

.content-block {
	display: flex;
}

.page-content .far {
	padding: 2rem;
	color: var(--primary-color);
	opacity: 0.8;
}

.content-block-data {
	display: flex;
	flex-direction: column;
	align-self: center;
}
.content-block h3 {
	border-bottom: 1px solid #000;
	padding-bottom: 8px;
	margin-bottom: 8px;
	font-weight: 500;
}

.content-block a {
	text-decoration: none;
	color: var(--primary-color);
}

.container.show-nav .main .page-content,
.container.show-nav .main .page-intro {
	width: calc(45% - 125px);
}

/* Footer a tags used for social media names */

.footer a {
	text-decoration: none;
	padding: 5px 0;
	color: var(--color-on-blue);
}

.footer a:hover {
	opacity: 0.5;
}

.footer h2 {
	border-bottom: 1px solid hsla(0, 0%, 84%, 0.2);
	line-height: 2rem;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.footer-brand h1 {
	transition: bottom 0.3s;
}

.footer-middle,
.footer-last {
	display: flex;
	flex-direction: column;
}

.footer-brand,
.footer-middle,
.footer-last,
.footer-brand::before,
.footer-middle::before,
.footer-last::before {
	transition: all 0.5s ease-in-out;
}

.footer.show-nav .footer-brand {
	position: relative;
	width: 250px;
	transition: width 0.3s;
}

.footer.show-nav .footer-brand h1 {
	z-index: -1;
}

.container.show-nav .brand-name,
.container.show-nav .nav-brand {
	position: fixed;
	bottom: auto;
	top: 2rem;
	left: 2rem;
	right: auto;
	z-index: 2;
	color: var(--color-on-blue);
}

.container.show-nav .brand-name a,
.container.show-nav .nav-brand a {
	color: var(--color-on-blue);
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 450px) {
	.sidenav {
		padding-top: 60px;
	}
	.sidenav a {
		font-size: 18px;
	}

	.main {
		flex-direction: column;
		margin: 7rem 0 0 0;
		padding: 1%;
	}
	.main .page-intro {
		margin-bottom: 2rem;
	}
}

/* Split Window CSS  */
.split-container h1 {
	font-size: 4rem;
	color: #fff;
	position: absolute;
	left: 50%;
	top: 35%;
	transform: translateX(-50%);
	white-space: nowrap;
}

.split-container .btn {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 50%;
	top: calc(35% + 6rem);
	transform: translateX(-50%);
	text-decoration: none;
	color: #fff;
	border: #fff solid 0.2rem;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	width: 15rem;
	padding: 1.5rem;
}

.split.left .btn:hover {
	background-color: var(--secondary-color);
	border: var(--secondary-color);
}

.split.right .btn:hover {
	background-color: var(--primary-color);
	border: var(--primary-color);
}

.split-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	transition: all 0.3s linear;
}

.container.show-nav .split-container {
	width: calc(100% - 250px);
	left: 250px;
	transition: all 0.5s linear;
}

.container.show-nav .split-container h1 {
	font-size: 3.5rem;
	transition: all 0.3s linear;
}

.container.show-nav .split-container .btn {
	padding: 1.2rem;
	width: 12rem;
}

.split {
	position: absolute;
	width: 50%;
	height: 100%;
	overflow: hidden;
}

.split.left {
	left: 0;
	background: url('https://images.unsplash.com/photo-1587385789097-0197a7fbd179?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxhbGx8fHx8fHx8fHwxNjIwMDk5OTI2&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 125% auto;
	background-color: #000;
}

.split.left::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--secondary-color);
	opacity: 0.3;
}

.split.right {
	right: 0;
	background: url('../src/img/splitright.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70% auto;
	background-color: #000;
	overflow-wrap: break-word;
}

.split.right::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--primary-color);
	opacity: 0.5;
}

.container.show-nav .split.right::before {
	background-color: var(--secondary-color);
	opacity: 0.5;
}

.container.show-nav .split.left::before {
	background-color: var(--primary-color);
	opacity: 0.7;
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
	transition: all var(--speed) ease-in-out;
}

.hover-left .left {
	width: var(--hover-width);
}

.hover-left .right {
	width: var(--other-width);
}

.hover-right .right {
	width: var(--hover-width);
}

.hover-right .left {
	width: var(--other-width);
}

.main.live-scores {
	display: block;
	text-align: center;
}

/* Live Score Card CSS */
.match {
	text-align: center;
	width: 60%;
	margin: 3rem auto;
	border-radius: 25px;
	border: 3px solid var(--primary-color);
	color: #000;
	transform: scale(0.99);
	padding: 0.5rem;
}

.match:hover {
	box-shadow: 2px 5px 20px var(--primary-color);
	transform: scale(1);
	background-color: var(--primary-color);
	color: var(--color-on-blue);
}

.match:hover .status-s.status-upcoming {
	color: var(--secondary-color);
}

.text-span {
	display: block;
	margin: 2%;
	width: auto;
}

.team-s {
	text-align: left;
	font-size: 95%;
	font-weight: bolder;
}

.score-s {
	text-align: right;
}

.match .row {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}

.status-s {
	font-size: 100%;
	font-weight: bold;
	text-align: left;
}

.location-s {
	font-size: 80%;
	text-align: left;
}

.status-s.status-live {
	color: rgb(244, 0, 0);
}

.status-s.status-result {
	color: rgb(0, 230, 0);
}

.status-s.status-upcoming {
	color: rgb(0, 0, 130);
}

/*Hiding Elements only for Mobile Size Screen or Portrait screen */
.portrait.material-icons,
.portrait.top-bar {
	display: none;
}

/* FAQ Functioning and look CSS */

.faq-container {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 0 auto;
	padding-left: 3rem;
	padding-bottom: 6rem;
}

.faq {
	background-color: transparent;
	border: 1px solid var(--primary-color);
	border-radius: 10px;
	margin: 20px 0;
	padding: 30px;
	position: relative;
	overflow: hidden;
	transition: 0.3s ease;
}

.faq.active {
	background-color: var(--primary-color);
	box-shadow: 2px 5px 20px var(--primary-color);
	color: var(--color-on-blue);
}

.faq.active::before {
	color: var(--color-on-blue);
	top: -10px;
	left: -30px;
	transform: rotateY(180deg);
}

.faq-title {
	margin: 0 35px 0 0;
}

.faq-text {
	display: none;
	margin: 30px 0 0;
}

.faq.active .faq-text {
	display: block;
	font-size: 1.5rem;
}

.faq-toggle {
	background-color: transparent;
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	padding: 0;
	position: absolute;
	top: 30px;
	right: 30px;
	height: 30px;
	width: 30px;
}

.faq-toggle:focus {
	outline: 0;
}

.faq-toggle .fa-times {
	display: none;
}

.faq.active .faq-toggle .fa-times {
	color: #fff;
	display: block;
}
.faq.active .faq-toggle .fa-chevron-down {
	display: none;
}

.faq.active .faq-toggle {
	background-color: var(--primary-color);
}

/* Media Query Max Width 1080px */
@media (max-width: 1080px) {
	.split-container h1 {
		font-size: 2rem;
		top: 40%;
		overflow-wrap: break-word;
	}

	.container.show-nav .split-container h1 {
		font-size: 1.5rem;
	}

	.split-container .btn {
		padding: 1.2rem;
		width: 12rem;
	}
}

/* Media Query Max-Height 400px */
@media (max-height: 400px) {
	.split-container h1 {
		font-size: 1.7rem;
		top: 45%;
	}

	.container.show-nav .split-container h1 {
		font-size: 1.5rem;
	}

	.split-container .btn {
		padding: 1.2rem;
		width: 12rem;
	}
}

/* Media Query Max Width 400px */

@media (max-width: 400px) {
	/* Showing elements only for Portrait or Mobile Screens */
	.portrait.material-icons {
		display: inline-block;
	}
	.faq-container {
		width: 100%;
	}

	.faq {
		width: 90%;
		margin-left: 0;
	}
	/* Top Bar For Brand scrolling */
	.portrait.top-bar {
		display: block;
		position: fixed;
		top: 0;
		width: 100%;
		height: 4.5rem;
		background-color: var(--primary-color);
		z-index: 1;
	}

	.container.show-nav .portrait.top-bar {
		display: none;
	}
	.nav-icons {
		margin-right: 20px;
	}

	.container.show-nav .brand-name {
		font-size: 1.5rem;
	}

	/* SideNavbar CSS */
	.container.show-nav .sidenav {
		width: 100vw;
		height: 100%;
		overflow: hidden;
		padding-top: 7.5rem;
	}

	.container.show-nav .circle-container {
		transform: translateX(100px);
		left: auto;
	}

	.container.show-nav .sidenav a {
		font-size: 1.5rem;
	}
	/* Brand Name CSS */
	.brand-name {
		padding-right: 10px;
		color: var(--color-on-blue);
	}
	.brand-name a {
		color: var(--color-on-blue);
	}

	/* Main content CSS */

	.main .page-intro,
	.page-intro h1 {
		width: 90%;
		padding-left: 9%;
		text-align: left;
		font-size: 2rem;
	}
	.main .page-content {
		width: 90%;
		text-align: justify;
		padding-left: 9%;
		padding-right: 3%;
	}
	.fa-envelope {
		font-size: 100;
	}
	/* Hiding Main Content When Navbar is shown */
	.container.show-nav .main,
	.footer.show-nav {
		opacity: 0;
		transition: opacity 0.3s linear;
		display: none;
	}

	/* Footer CSS */
	.footer {
		flex-direction: column;
		padding-left: 5%;
	}
	.footer-brand,
	.footer-middle,
	.footer-last {
		width: 100%;
		text-align: left;
	}

	/* Live Score Banner CSS */
	.match {
		width: 85%;
	}
	.score-s {
		margin-top: 0.3rem;
		text-align: left;
	}
	.status-match {
		text-align: left;
		font-weight: 900;
	}
	.match .row {
		flex-direction: column;
	}

	.location-s {
		font-size: 80%;
		text-align: left;
	}
}
